html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.navbar{
    position:fixed;
    width:100%;
    background-color:white;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  min-height: 100vh;
}

.container{
   padding-top:10vh;
}
.grid-base{
    
    height:auto;
    width:100%;
}

.grid-container {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    grid-gap:1rem;
}

.box {
    background: #191c29;
    height: 15rem;
    width: 20rem;
    
}
.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
.privacy{
    height:5vh;
    width:100%;
    background-color:white;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
}