@{
    ViewData["Title"] = "Chat";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="container" style="padding-top:80px">
    <div class="row">

        <div class="col-md-6">
            
            <input type="hidden" id="txtOtherUser" value="@ViewBag.chatSecondUsers" />
            <input type="hidden" id="txtFirstUser" value="@ViewBag.userCount" />
            <input type="hidden" id="txtUser" value="@ViewBag.UserIdentity" /><br />
            <span>Enter Your Message</span><br />
            <textarea rows="10" cols="50" id="txtMessage"></textarea><br />
            <button type="submit" id="btnSend" class="btn btn-info">Send Message</button>
        </div>

        <div class="col-md-6">
            <h3>Message list</h3>
            
            <ul id="list" class="alert alert-info">
               
            </ul>
        </div>

    </div>
</div>


