@model Why.Data.Models.Biography
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="biografi">
    <p>
         @Model.BiographyContent
         
    </p>
         

    
</div>


