@model Why.Data.Models.Biography
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="biografi">
    <div class="profil">

        <a class="" asp-controller="Admin" asp-action="Info" asp-route-id="@ViewBag.thumbId">@ViewBag.userName</a>

    </div>
    <div class="container">

        <main role="main" class="pb-3">
            <p>
                @Model.BiographyContent
            </p>
        </main>
    </div>
</div>