@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Market</title>
</head>
<body>

    <a class="btn btn-primary" asp-controller="Admin" asp-action="Thumb" asp-route-name="Bronze">Bronze</a><br />
    <a class="btn btn-primary" asp-controller="Admin" asp-action="Thumb" asp-route-name="Silver">Silver</a><br />
    <a class="btn btn-primary" asp-controller="Admin" asp-action="Thumb" asp-route-name="Gold">Gold</a>


</body>
</html>
