
@{
    ViewData["Title"] = "Thumb";
    Layout = "~/Views/Shared/_Admin.cshtml";
}



<h2>Thumb</h2>

<form method="post">
    <div class="user-box">

        <input class="Inp" type="text" name="ThumbName" required="">
        <label>Name</label>
    </div>
    

    <div class="user-box">
        <input class="btn btn-primary" type="submit" value="Next" name="submit">
    </div>
</form>
